.events-list {
    width: 90%;
    margin: 0 auto;
    .large-post {
        max-width: 40%;
        height: 400px;
        display: flex;
        .post-image {
            flex-basis: 45%;
            img {
                width: 100%;
                height: 100%
            }
        }
        .event-info {
            flex-basis: 60%;
        }
    }
}

//event info styles 
.event-info {
    position: relative;
    .event-info-wrapper {
        padding: 20px;
        a {
            text-decoration: none;
            color: $green;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        h2 {
            padding: 40px 0px 20px 0px;
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.3;
        }
        p {
            font-size: 0.9rem;
            line-height: 1.3;
        }
        .event-time {
            position: absolute;
            bottom: 10px;
            p.date {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }


}