.events-list {
    width: 90%;
    margin: 0 auto;
    .large-post {
        max-width: 40%;
        height: 400px;
        display: flex;
        .post-image {
            flex-basis: 45%;
            img {
                width: 100%;
                height: 100%
            }
        }
        .event-info {
            flex-basis: 60%;
        }
    }
}

//event info styles 
.event-info {
    .event-info-wrapper {
        padding: 20px;
        a {
            text-decoration: none;
            color: $green;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10%;
        }
        h2 {
            padding-top: 20%;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.3;
        }
    }


}