.events-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .large-post {
        max-width: 50%;
        height: 420px;
        display: flex;
        background-color: white;
        border: 1px solid $border-color;
        .post-image {
            flex-basis: 50%;
            img {
                width: 100%;
                height: 100%
            }
        }
        .event-info {
            flex-basis: 60%;
        }
    }
    .small-post {
        max-width: 24%;
        height: 420px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid $border-color;
        .post-image {
            flex-basis: 100%;
            img {
                width: 100%;
                height: 100%
            }
        }
        .event-info {
            flex-basis: 100%;
        }
    }
}

//event info styles 
.event-info {
    position: relative;
    .event-info-wrapper {
        padding: 20px;
        a {
            text-decoration: none;
            color: $green;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        h2 {
            padding: 40px 0px 20px 0px;
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.3;
        }
        p {
            font-size: 0.9rem;
            line-height: 1.3;
        }
        .event-time {
            position: absolute;
            bottom: 10px;
            p.date {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    h2#small-image.event-title {
        padding: 20px 0px 20px 0px;
    }


}