header {
    .main-title {
        margin: 20px auto 50px auto;
    }
   
    h2 {
        width: 150px;
        padding: 10px 0 0 1px;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $green;
        border-top: 5px solid $yellow;
        letter-spacing: 0.2em;
        margin: 0 auto;
    }
}