header {
    .main-title {
        width: 10%;
        margin: 20px auto 50px auto;
    }
    .thick-line {
        width: 100%;
        height: 5px;
        background-color: $yellow;
        border-radius: 5px;
    }
}