@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "variables";

// CSS included in style.css.

@import "header";
@import "events-list";


// General styles
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.site-title {
    display: none;
}

